html,body {
    margin: 0px;
    padding: 0px;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.menu-item {
	float: left;
}

li a {
	display: block;
	/*color: #EF705F;*/
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

nav {
	margin-top: 10px;
	margin-left: 20px;
}

.link a {
	/*border-bottom: 2.5px solid white;*/
	font-family: 'Be Vietnam', sans-serif;
	color: black;
}

#about-link a {
	/*border-bottom: 2.5px solid #EF705F;*/
	color: #EF705F;
}


.link a:hover{
	transition: 0.3s;
	color: #EF705F;
}

#about, #work, #resume {
	float:right;
}

#resume {
	margin-right: 20px;
}

#photo-container {
	width: 650px;
	height: 550px;
	/*position: relative;*/
	margin-top: 30px;
	/*top: 75px;
	left: 185px;*/
}

#photo-container img {
	height: 100%;
 	width: 100%;
 	object-fit: cover;
}

.title-text {
	font-family: 'Be Vietnam', sans-serif;
	font-size: 3em;
	margin-top: 85px;
	font-weight: 500;
	color: #EF705F;
	text-align: center;
}

#intro-title {
	text-align: left;
	margin-top: 50px;
	margin-bottom: 10px;
}

.intro-text {
	text-align: left;
	width: 500px;
	margin-bottom: 10px;
	font-family: 'Be Vietnam', sans-serif;
}

#text {
	margin-left: 50px;
}

#intro {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.org a {
	text-decoration: none;
	font-weight: 500;
	color: #EF705F;
}

.org:hover {
	opacity: 70%;
	transition-duration: 0.2s;
}

#first-subtitle {
	margin-top: 25px;
}

.subtitle {
	font-family: 'Be Vietnam', sans-serif;
	font-size: 1.5em;
	letter-spacing: 1px;
	font-weight: bold;
	width: 550px;
	margin: 0 auto;
	text-align: left
	margin-top: 10px;
	margin-bottom: 5px;
}

/*.paragraph-text {
	font-family: 'Be Vietnam', sans-serif;
	font-size: 1em;
	letter-spacing: 1px;
	line-height: 160%;
	margin-top: 20px;
}*/

.paragraph-text {
	font-family: 'Be Vietnam', sans-serif;
	font-size: 1em;
	letter-spacing: 1px;
	width: 550px;
	margin: 0 auto;
	text-align: left;
	margin-top: 5px;
	margin-bottom: 5px;
}

#skills {
	width: 225px;
}

#skills-2 {
	width: 150px;
}

#skills-3 {
	width: 100px;
}

/*#motivations-text {
	width: 625px;
	margin: 0 auto;
	margin-top: 30px;
	margin-bottom: 70px;
	font-size: 1em;
	text-align: left;
}

.motivation-subtitle {
	font-weight: 600;
	font-size: 1.5em;
	padding-top: 20px;
	color: #EF705F;
}

.motivation-par {
	margin-top: 15px;
	margin-bottom: 30px;
}*/

.capabilities-title {
	margin-top: 100px;
}

.skills-title {
	font-family: 'Be Vietnam', sans-serif;
	font-size: 1.5em;
	margin-top: 75px;
	margin-bottom: 20px;
	font-weight: 500;
	color: #EF705F;
	text-align: center;
}

#spheres-image img, .skills-image img, .icon img {
	height: 100%;
 	width: 100%;
 	object-fit: cover;
}

#image-1 {
	height: 300px;
	padding-top: 10px;
}

#image-2 {
	height: 220px;
	padding-top: 35px;
	padding-bottom: 10px;
}

#image-3 {
	height: 150px;
}

.skills-image {
	width: 500px;
	margin: 0 auto;
	padding-top: 30px;
}

#contact-me {
	background-color: #EF705F;
	width: 120px;
	padding-top: 10px;
	padding-bottom: 15px;
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
	font-family: 'Be Vietnam', sans-serif;
	font-size: 1.15em;
	margin: 0 auto;
	border-radius: 25px;
	margin-top: 75px;
}

#contact-container a {
	text-decoration: none;
	color: white;
}

#icons-container {
	display: flex;
	justify-content: center;
	margin-top: 50px;
	margin-bottom: 80px;
}

.icon {
	width: 40px;
	height: 40px;
	margin-left: 10px;
	margin-right: 10px;
}


/*mobile only nav bar styling*/

#mobile-only-nav-button {
	margin-top: 10px;
	float: right;
	right: 15px;
	z-index: 10;
	position: fixed;
	/*mobile only*/
	display: none;
}

.bar1, .bar2, .bar3 {
	width: 25px;
	height: 2px;
	background-color: #EF705F;
	margin-top: 5px;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
}

.button-switch .bar1 {
	-webkit-transform: rotate(-45deg) translate(-7px, 6px);
	-moz-transform: rotate(-45deg) translate(-7px, 6px);
    transform: rotate(-45deg) translate(-7px, 6px);
    background-color: white;
}

.button-switch .bar2 {
	opacity: 0;
}

.button-switch .bar3 {
	-webkit-transform: rotate(45deg) translate(-4px, -3px);
	-moz-transform: rotate(45deg) translate(-4px, -3px);
	transform: rotate(45deg) translate(-4px, -3px);
	background-color: white;
}

#mobile-only-nav-bar {
	/*position: absolute;*/
	background-color: #EF705F;
	color: white;
	font-family: 'Be Vietnam', sans-serif;
	position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 1;
    height: 0%;
    overflow-x: hidden;
    transition: 0.4s;
    -webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	-o-transition: all 0.4s;
	/*mobile only*/
	display: none;
}

/*#mobile-only-nav-bar .open-nav {
	display: block;
}*/

#nav-text {
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.mobile-link a {
	color: white;
	text-align: center;
	margin-top: -5px;
	margin-bottom: -5px;
	font-size: 2em;
}

#email {
	margin-top: 75px;
	text-align: center;
	color: #EF705F;
	width: 240px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: white;
	font-weight: 500;
}

.no-scroll {
	overflow: hidden;
}

/*#favicon img {
	height: 100%;
 	width: 100%;
 	object-fit: cover;
}

#favicon {
	width: 25px;
	height: 25px;
}*/


/* Extra small devices (phones, 450px and down) */
@media only screen and (max-width: 600px) {

	#spheres-image {
		width: 350px;
		height: 300px;
		margin: 0 auto;
	}

	#photo-container {
		width: 350px;
		height: 300px;
		/*position: relative;*/
		margin-top: 30px;
		/*top: 75px;
		left: 185px;*/
	}

	#intro-title, .title-text {
		margin-top: 45px;
	}

	#text {
		margin-left: 0px;
	}

	.intro-text, #spheres-text {
		width: 300px;
	}

	#motivations-title {
		width: 300px;
		margin: 0 auto;
		margin-top: 60px;
		padding-bottom: 10px;
	}

	#motivations-text {
		width: 300px;
	}

	.skills-image {
		width: 350px;
	}

	#image-1 {
		height: 200px;
	}

	#image-2 {
		height: 120px;
	}

	#image-3 {
		height: 100px;
	}

	.skills-image {
		width: 350px;
		margin: 0 auto;
		padding-top: 30px;
	}
	
	/*different nav bar*/
	#mobile-only-nav-button {
		display: block;
	}

	#mobile-only-nav-bar {
		display: block;
	}

	#resume, #work,#about {
		display: none;
	}
}

/* Monitors */
@media only screen and (min-width: 1700px) {

	.link {
		font-size: 1.7em;
	}

	li a {
		padding: 20px 20px;
	}

	#photo-container {
		margin-top: 50px;
		width: 825px;
		height: 725px;
	}

	#intro-title {
		margin-top: 60px;
		font-size: 5em; 
	}

	#text {
		margin-left: 75px;
	}

	.title-text {
		font-size: 5em;
	}

	.paragraph-text, #spheres-text {
		font-size: 1.5em;
		width: 1000px;
	}

	#spheres-image {
		width: 1000px;
		height: 900px;
		margin: 0 auto;
	}

	#image-1 {
		height: 600px;
		padding-top: 10px;
	}

	#image-2 {
		height: 440px;
		padding-top: 35px;
		padding-bottom: 10px;
	}

	#image-3 {
		height: 300px;
	}

	.skills-title {
		font-size: 2.5em;
		margin-bottom: 40px;
	}

	.skills-image {
		width: 1000px;
		margin: 0 auto;
		padding-top: 30px;
	}

	#skills-container {
		margin-bottom: 100px;
	}

	#contact-me {
		width: 350px;
		padding-top: 20px;
		padding-bottom: 25px;
		padding-left: 10px;
		padding-right: 10px;
		font-size: 2.5em;
		border-radius: 60px;
	}

	#icons-container {
		margin-top: 75px;
		margin-bottom: 110px;
	}

	.icon {
		width: 65px;
		height: 65px;
		margin-left: 20px;
		margin-right: 20px;
	}

}
