html,body {
    margin: 0px;
    padding: 0px;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.menu-item {
	float: left;
}

li a {
	display: block;
	/*color: #EF705F;*/
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

nav {
	margin-top: 10px;
	margin-left: 20px;
}

.link a {
	/*border-bottom: 2.5px solid white;*/
	font-family: 'Be Vietnam', sans-serif;
	color: black;
}

#work-link a {
	/*border-bottom: 2.5px solid #EF705F;*/
	color: #EF705F;
}


.link a:hover{
	transition: 0.3s;
	color: #EF705F;
}

#about, #work, #resume {
	float:right;
}

#resume {
	margin-right: 20px;
}

#work-nav {
	margin-top: 80px;
}

.work-link {
	margin-bottom: 30px;
}

.work-link a {
	font-family: 'Be Vietnam', sans-serif;
	font-size: 4em;
}

#product a {
	color: #EF705F;
  	-webkit-text-fill-color: white;
  	-webkit-text-stroke-width: 1.75px;
  	-webkit-text-stroke-color: #EF705F;
}

/*#graphics a {
	color: #F2A541;
	-webkit-text-fill-color: white;
  	-webkit-text-stroke-width: 1.75px;
  	-webkit-text-stroke-color: #F2A541;
}*/

#photo a {
	color: #577590;
	-webkit-text-fill-color: white;
  	-webkit-text-stroke-width: 1.75px;
  	-webkit-text-stroke-color: #577590;
}


/* Following hover effect code adapted from https://codepen.io/tsimenis/pen/BKdENX */

span {
  position: relative;
  display: block;
  margin: 0 auto;
}

#product span {
	width: 230px;
}

/*#graphics span {
	width: 435px;
}*/

#photo span {
	width: 400px;
}

span:before, span:after {
  content: '';
  position: absolute;
  width: 0%;
  height: 3px;
  top: 50%;
  margin-top: 8px;
  background: #fff;
}

span:before {
  left: -2.5px;
}

#product span:after {
  right: 2.5px;
  background: #EF705F;
  transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}

#product span:hover:before {
  background: #EF705F;
  width: 100%;
  transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

/*#graphics span:after {
  right: 2.5px;
  background: #F2A541;
  transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}*/

/*#graphics span:hover:before {
  background: #F2A541;
  width: 100%;
  transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}*/

#photo span:after {
  right: 2.5px;
  background: #577590;
  transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}

#photo span:hover:before {
  background: #577590;
  width: 100%;
  transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

span:hover:after {
  width: 100%;
  transition: 0s;
}

/*mobile only nav bar styling*/

#mobile-only-nav-button {
	margin-top: 10px;
	float: right;
	right: 15px;
	z-index: 10;
	position: fixed;
	/*mobile only*/
	display: none;
}

.bar1, .bar2, .bar3 {
	width: 25px;
	height: 2px;
	background-color: #EF705F;
	margin-top: 5px;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
}

.button-switch .bar1 {
	-webkit-transform: rotate(-45deg) translate(-7px, 6px);
	-moz-transform: rotate(-45deg) translate(-7px, 6px);
    transform: rotate(-45deg) translate(-7px, 6px);
    background-color: white;
}

.button-switch .bar2 {
	opacity: 0;
}

.button-switch .bar3 {
	-webkit-transform: rotate(45deg) translate(-4px, -3px);
	-moz-transform: rotate(45deg) translate(-4px, -3px);
	transform: rotate(45deg) translate(-4px, -3px);
	background-color: white;
}

#mobile-only-nav-bar {
	/*position: absolute;*/
	background-color: #EF705F;
	color: white;
	font-family: 'Be Vietnam', sans-serif;
	position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 1;
    height: 0%;
    overflow-x: hidden;
    transition: 0.4s;
    -webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	-o-transition: all 0.4s;
	/*mobile only*/
	display: none;
}

/*#mobile-only-nav-bar .open-nav {
	display: block;
}*/

#nav-text {
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.mobile-link a {
	color: white;
	text-align: center;
	margin-top: -5px;
	margin-bottom: -5px;
	font-size: 2em;
}

#email {
	margin-top: 75px;
	text-align: center;
	color: #EF705F;
	width: 240px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: white;
	font-weight: 500;
}

.no-scroll {
	overflow: hidden;
}

/***********************************/

/* Extra small devices (phones, 450px and down) */
@media only screen and (max-width: 600px) {
	html,body {
	    overflow-x: hidden;
	    overflow-y: hidden;
	}

	.work-link a {
		font-size: 2.5em;
	}

	#product span {
		width: 150px;
	}

	/*#graphics span {
		width: 180px;
	}*/

	#photo span {
		width: 250px;
	}

	.work-link {
		margin-bottom: 80px;
	}

	/*different nav bar*/
	#mobile-only-nav-button {
		display: block;
	}

	#mobile-only-nav-bar {
		display: block;
	}

	#resume, #work,#about {
		display: none;
	}
}

/* Monitors */
@media only screen and (min-width: 1700px) {

	.link {
		font-size: 1.7em;
	}

	li a {
		padding: 20px 20px;
	}

	#product a {
		font-size: 6em;
		font-weight: 500;
		-webkit-text-stroke-width: 3px;
	}

	/*#graphics a {
		font-size: 6em;
		font-weight: 500;
		-webkit-text-stroke-width: 3px;
	}*/

	#photo a {
		font-size: 6em;
		font-weight: 500;
		-webkit-text-stroke-width: 3px;
	}

	#product span {
		width: 725px;
	}

	/*#graphics span {
		width: 650px;
	}*/

	#photo span {
		width: 600px;
	}
}